.imgPerfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

h3{
    color: #E1523D;
}

.limitado{
    white-space:pre-wrap;
}


#enviar{
    background-color: #E1523D;
}

.btn-leer{
    border: 1px solid #E1523D;
    background-color: transparent;
    color: #E1523D;
}

.btn-leer:hover{
    background-color: #E1523D;
    color: white;
}