.imgArticle{
    width: 275px;
    height: 200px;
}

h3{
    color: #E1523D;
}

small{
    color: #E1523D;
}

.btn-leer{
    border: 1px solid #E1523D;
    background-color: transparent;
    color: #E1523D;
}

.btn-leer:hover{
    background-color: #E1523D;
    color: white;
}

.pagination{
    position: absolute;
    left: 44.5%;

}
