/*Layaout*/

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    width: 500px;
    height: 500px;
    margin-top: 5%;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.headerText{
    background-color: rgba(225,82,61,0.5);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 1%;
}

.color{
    color: white;
}

.color:hover{
    color: #E1523D;
}

.navbar-toggler{
    color: aliceblue;
}

.redesSociales{
    width: 50px;
    height: 50px;
}

footer{
    background-color: #292A3A;
}

h6{
    color: #E1523D;
}

hr{
    background-color: #E1523D;
}

.blanco{
    color: white;
}

.foot:hover{
    color: #E1523D;
}

.colornav{
    background-color: #292A3A;
}

.navbar-toggler:hover{
    background-color: #E1523D;
}

.svg{
    width: 30px;
    height: 30px;
}

.dropdown-menu{
    width: 300px !important;
}

.submenu{
    width: 200px !important;
}


.logonav{
    width: 70px;
    height: 40px;
}

.link:hover{
    color: #E1523D;
}

/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #292A3A; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E1523D; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E1523D; 
}

a.scroll-top {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    right: 30px;
    font-size: 20px;
    border-radius: 3px !important;
    text-align: center;

}
a.scroll-top i {
    position: relative;
    top: 2px;
}

.nav-ins{
    color: #E1523D;
}

.botonVolver{
    width: 45px;
    height: 45px;
}

.modalHeader{
    background-color: #292A3A;
    color: #E1523D;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.btn-leer{
    border: 1px solid #E1523D;
    background-color: transparent;
    color: #E1523D;
}

.btn-leer:hover{
    background-color: #E1523D;
    color: white;
}

small{
    color: #E1523D;
}

.enlace:hover{
    text-decoration: none;
    color: #E1523D;
        
}